.vscode
__pycache__

/target
*.pyd
*.dll
*.exe
*.so
*.pth

.ipynb_checkpoints
*.ipynb

/_draft

# Training artifacts
mortal/*.pth
mortal/runs/
mortal/test_play_logs/
mortal/train_play_logs/
mortal/self_play_logs/
mortal/1v3_logs/
mortal/grp_runs/
mortal/data/
mortal/db/
mortal/file_index.pth
mortal/grp_file_index.pth
mortal/buffer/
mortal/drain/
